<div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button ng-show="vm.isAdmin()" ui-sref-active="active" type="button" ng-click="vm.addItem()" class="btn btn-primary navigation">Add Food Item</button>
  </div>
</div>
<br>
<br>
<br>
<div ng-if="item.active" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="item in vm.items">
  <div class="thumbnail card">
    <div ng-if="item.foodImage" ng-click="vm.addItem(item)">
      <img height="191" width="100%" ng-src="{{vm.appConfig.apiUrl + item.foodImage}}" alt="item image" srcset="">
    </div>
    <b ng-click="vm.addItem(item)">
      <div class="fooditemname">{{item.name}}</div>
    </b>
    <div class="fooditemprice">${{item.price}}</div>
    <div>
      <b>Ingredients:</b> {{item.ingredients}}</div>
    <a href="" ng-show="!vm.isAdmin()" ng-click="vm.addToCart(item)" class="btn btn-info btn-md">
      <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
    </a>
    <!-- <div>{{item.active?'Active':'Inactive'}}</div> -->
  </div>
</div>
