
<div>
   
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <button ng-show="vm.isAdmin()" ui-sref-active="active" type="button" ng-click="vm.addItem()" class="btn btn-primary navigation">Add Food Item</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  
  <div ng-if="item.active" class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="item in vm.items">
    <div ng-click="vm.addItem(item)" class="thumbnail" >
       
        <div ng-if="item.foodImage">
          <img height="191" width="378" ng-src="{{vm.appConfig.apiUrl + item.foodImage}}" alt="item image" srcset="">
        </div>
       <b><div class="fooditemname">{{item.name}}</div></b> 
        <b><div class="fooditemprice">${{item.price}}</div></b>
        <div>{{item.ingredients}}</div>
        <a href="#" class="btn btn-info btn-md">
          <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
        </a>
        <!-- <div>{{item.active?'Active':'Inactive'}}</div> -->
    </div>
</div>


