.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.invalid-feedback{
  color: red;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.content{
	padding-top: 17%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

body {
  background: url(bgimg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html {
  width: 100%;
  height: 100%;

}

h1 {
	font-weight: 700;
  font-size: 5em;
  color: rgb(110, 47, 47)
}
h3{
  color: rgb(8, 29, 36)
}
.navigation
{
    position: absolute; /*or fixed*/
    right: 20px;
}