<form name="form" enctype="multipart/form-data" ng-submit="vm.saveCard(form,$close)" novalidate>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add/Edit Card</h3>
  </div>
  <div class="modal-body" id="modal-body">

    <div class="form-group">
      <label for="nameI">Name: </label>
      <input type="text" class="form-control is-invalid" required name="nameI" ng-model="vm.newCard.name">
      <div class="invalid-feedback" ng-show="form.$submitted && form.nameI.$invalid">
        <span class="error" ng-show="form.nameI.$error.required">Name is required.</span>
      </div>
    </div>

      <div class="form-group">
        <label for="cardnumber">Card Number: </label>

        <input type="number" name="cardnumber" class="form-control" ng-model="vm.newCard.cardnumber" required
            minlength="16" maxlength="16" mongoose-error/>
        <div class="invalid-feedback" ng-show="form.$submitted && form.cardnumber.$invalid">
            <span class="error" ng-show="form.cardnumber.$error.required">Valid Card Number is required.</span>
            <span class="error" ng-show="form.cardnumber.$error.maxlength">Invalid Card Number.</span>
            <span class="error" ng-show="form.cardnumber.$error.minlength">Invalid Card Number.</span>
         </div>
    </div>

    <div class="form-group">
      <label for="expmon">Expiry Month: </label>
      <input type="number" ng-pattern="/[1-9]|1[012]/" class="form-control is-invalid" min="1" max="12" required name="expmon" ng-model="vm.newCard.expmon">
      <div class="invalid-feedback" ng-show="form.$submitted && form.expmon.$invalid">
        <span class="error" ng-show="form.expmon.$error.required">Expiry Month is required.</span>
        <span class="error" ng-show="form.expmon.$error.min">Expiry Month value is invalid.</span>
        <span class="error" ng-show="form.expmon.$error.max">Expiry Month value is invalid.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="expyear">Expiry Year: </label>
      <input type="number" class="form-control is-invalid" required name="expyear" min="2018" max="2050" ng-model="vm.newCard.expyear">
      <div class="invalid-feedback" ng-show="form.$submitted && form.expyear.$invalid">
        <span class="error" ng-show="form.expyear.$error.required">Expiry Year is required.</span>
        <span class="error" ng-show="form.expyear.$error.min">Expiry Year value is invalid.</span>
        <span class="error" ng-show="form.expyear.$error.max">Expiry Year value is invalid.</span>

      </div>
    </div>

     <div class="form-group">
      <label for="cvv">CVV Number: </label>
      <input type="number" class="form-control is-invalid" required name="cvv"  minlength="3" maxlength="3" ng-model="vm.newCard.cvv">
      <div class="invalid-feedback" ng-show="form.$submitted && form.cvv.$invalid">
        <span class="error" ng-show="form.cvv.$error.required">CVV Number is required.</span>
        <span class="error" ng-show="form.cvv.$error.minlength">Invalid CVV Number.</span>
        <span class="error" ng-show="form.cvv.$error.maxlength">Invalid CVV Number.</span>
      </div>
    </div>

</div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
  </div>
</form>
