
<div>
   
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    

      <button ui-sref-active="active" type="button" ng-click="vm.addCard()" class="btn btn-primary navigation">Add Card</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="card in vm.cards">
    <div class="thumbnail" >
      <input type="radio" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a ng-click="vm.addCard(card)"  class="edit"> <span class="fa fa-edit fa-2x"></span></a>
      &nbsp;&nbsp; <a ng-click="vm.delete(card)" class="trash"> <span class="fa fa-trash fa-2x"></span></a>

    <b><div class="kida">{{card.name}}</div></b>
        <div class="kida">{{card.cardnumber}}</div>
        <div class="kida">{{card.expmon}}/{{card.expyear}}</div>
        <div class="kida">{{card.cvv}}</div>
    </div>
</div>


