<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>

    </div>
    <div class="col-sm-4">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
        'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            Email address is required.
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>


        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
    'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" ng-minlength="3" required mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.minlength && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.required && vm.submitted">
            Password is required.
          </p>
          <!-- <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
            Please enter your email and password.
         </p> -->
          <p class="help-block" style="color:#a94442" ng-show="vm.invalidlogin">
            Invalid Login Credential.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.login }}
          </p>
        </div>
   

    <!-- <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
            Please enter your email and password.
         </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
             Please enter a valid email.
          </p> 
         <p class="help-block" ng-show="form.password.$error.required && vm.submitted">
          Please enter a valid Password.
          </p>
          <p class="help-block">{{ vm.errors.login }}</p>
        </div> -->

    <div>
      <button class="btn btn-inverse btn-lg btn-login" type="submit">
        Login
      </button>
      <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
        Register
      </a>
    </div>

    </form>
  </div>
</div>
<hr>
</div>
