<div class="container" ng-if="vm.orders && vm.orders.length">
  <table class="highlight card centered">
    <!--Table head-->
    <thead>
      <tr class="blue-grey lighten-3">
        <th>Invoice Number</th>
        <th>Order id</th>
        <th>Price</th>
        <th>Order Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="brown lighten-4" ng-repeat="o in vm.orders">
        <td>{{o.invoiceNumber}}</td>
        <td>
          <a class="waves-effect waves-light btn modal-trigger orderid" href ng-click="vm.orderDetail(o)">{{o.orderId}}</a>
        </td>
        <td>{{o.price|currency:'$'}}</td>
        <td>{{o.createdDate | date : 'MM/dd/yyyy hh:mm a'}}</td>
        <td class="status">
          {{o.status}}
        </td>

        <td ng-if="vm.validateRoleSync('manager') || vm.validateRoleSync('employee') || vm.validateRoleSync('driver')">
          <a ng-if="o.status=='Pending' && (vm.validateRoleSync('manager') || vm.validateRoleSync('employee'))" class="waves-effect waves-light btn  lime darken-1"
            ng-click="vm.updateStatus(o, 'Inprocess')">Inprocess</a>
          <a ng-if="o.status=='Inprocess' && (vm.validateRoleSync('manager') || vm.validateRoleSync('employee'))" class="waves-effect waves-light btn  orange darken-4"
            ng-click="vm.updateStatus(o, 'Completed')">Complete</a>
          <a ng-if="o.status=='Completed' && (vm.validateRoleSync('manager') || vm.validateRoleSync('driver'))" class="waves-effect waves-light btn  green darken-4"
            ng-click="vm.updateStatus(o, 'Delivered')">Delivered</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
