.checkout{
    size: 200px,

}
.bg{
    background-color: #E8E8E8;
    margin: 30px;
    border: solid black 1px;
    border-spacing: 10px;
}
thead{
    font-weight: bolder;
    font-size: 20px;
}
.status{
    font-weight: 600;

}

.orderid{
    font-size: 20px;
}
tbody{
    font-size: 18px;

}