<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  <a ng-if='!$ctrl.isLoggedIn()' ng-href="/" ng-click="ctrl.anchorClicked();" class="navbar-brand"><b>EatNJoy</b></a> 
  <a ng-if='$ctrl.isLoggedIn()' ng-href="/welcome" ng-click="ctrl.anchorClicked();" class="navbar-brand"><b>EatNJoy</b></a> 
  

    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-show="$ctrl.isLoggedIn()" ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}" href="/welcome">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="admin">Manage Employees </a></li>
        <li ng-show="$ctrl.isAdmin() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="manageaddress">Manage Address </a></li>
        <!-- <li ng-show="$ctrl.isAdmin() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="">Reserve a Table </a></li> -->
        <li ng-show="$ctrl.isAdmin() && $ctrl.isLoggedIn() || $ctrl.isCustomer() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="reserveatable">Reserve a Table </a></li>
       <li ng-show="$ctrl.isCustomer() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="managecard">Manage Cards </a></li>
        <li ng-show="$ctrl.isCustomer() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="contactus"> Contact Us </a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up <i class="fa fa-user-plus"></i></a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login <i class="fa fa-user"></i></a></li>
        <li ng-show="!$ctrl.isAdmin() && $ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="addcart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>

      </ul>
    </div>
  </div>
</div>
<br>
<!-- <div class="sidebar sidebar-default sidebar-static-left">
      
      
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        
  
        <ul class="nav sidebar-nav navbar-left">
          <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up <i class="fa fa-user-plus"></i></a></li>
          <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login <i class="fa fa-user"></i></a></li>
          <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="addcart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
          <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
          <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
  
        </ul>
      </div>
</div> -->
  


