.contactus{
    padding: 210px;
    margin-left: 210px;
    font-size: 55px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: inherit

  }

  .hmm{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify

  }