.checkout{
    size: 200px,

}
.bg{
    background-color: #E8E8E8;
    margin: 30px;
    border: solid black 1px;
    border-spacing: 10px;
}
.subtotal{
    font-size: 30px;
}
.itemdata{
    font-size: 25px;
}
.item{
    font-size: 22px;
}
